html, body, :global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}

